/*
!/pkg/
!/tests/
!/.env.example
!/.gitignore
!/.gitlab-ci.yml
!/docker-compose.yml
!/Dockerfile
!/go.mod
!/go.sum
!/environment.go
!/main.go
!/README.md
!/LICENSE
!/kubernetes-deploy*.yml
!/magic.py
!/magic-agam.py